body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    background: linear-gradient(135deg, #000, #444);
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 30px;
}
header h1 {
    margin: 0;
    position: absolute;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: large;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: dotted;
}
.Home:hover {
    color: red;
}
.Services:hover {
    color: red;
}
.Cars:hover {
    color: red;
}
.Brochure:hover {
    color: red;
}
.counseling:hover {
    color: red;
}
.aboutus:hover{
    color: red;
}
.qna:hover{
    color: red;
}
.home {
    max-width: 1550px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
}
body {
    background-image: url(/Image_files/Background.img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main {
    padding: 20px;
}
h2 {
    color: antiquewhite;
}
.qa-item {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
}
.qa-item h3 {
    margin: 0 0 10px;
    color: antiquewhite;
    font-size: large;
}
footer {
    background: #333;
    color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
footer p {
    font-size: 14px;
}